# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Builds
dist/
dist-ssr/
build/
*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables & Secrets
.env
.env.production
.env.development
.env.local
.env.*.local

# Whitelist standard template stubs
!.env.example
